<div id="frame">
  <div class="content">
    <div class="contact-profile">
      <img [src]="activeUser.img" alt="" />
      <p>{{ activeUser.name }}</p>
      <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
    <div class="messages" #scrollMe>
      <ul style="padding-left:10px">
        <li [class]="msg.type" *ngFor="let msg of activeUser?.messages">
          <img
            [src]="
              msg.type === 'sent' ? activeUser.img : messageReceivedFrom.img
            "
            alt=""
          />
          <p>{{ msg?.message || '' }}</p>
        </li>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input
          type="text"
          #msgInput
          placeholder="Write your message..."
          (keyup.enter)="addNewMessage(msgInput)"
        />
        
        <button class="submit" (click)="addNewMessage(msgInput)">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>Send
        </button>
      </div>
    </div>
  </div>
</div>
